  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');


:root {
    /* bg colors */
    --bg1: #e8cbf1;
    --bg2: #e0a8f1;
    --bg3: rgb(255, 0, 234);
    --bgn1: rgb(244, 199, 133);
    --bgn2: rgb(219, 151, 49);
    --bgn3: rgb(223, 134, 0);

    --primary: #e8cbf1;
    --secondary: #e0a8f1;
    
    --btn_bg: #050d26;
    --btn_br: #fff;
}
    



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'EB Garamond', serif;
}




.header_logo{
    height: 70px;
}


.header{
height: 70px;
display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
justify-content: space-between;
padding: 0px 50px;
position: fixed;
top: 0;
z-index: 2;
width: 100%;
box-shadow: 0px 5px 20px rgb(236, 147, 252)  ;
background-image: url(./img/1841-color-pastel.jpg);


}

.lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    
}

#menu-bars, .navbar i{
    display: none;
}

.item_lista{
color:black;
}

/* REFERENCIAS a misma pagina */

#hero_id h2, #aboud_id h2, #card_id h2, #contacto_id h2, #registro h2 #login h2{
    margin-top: 80px;
    }




body{
    margin-top: 70px;
    background-color: var(--bg1);
  /* background-image: url(./img/1826-color-pastel.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    }

main{
display: flex;
flex-direction: column;
gap: 20px;
align-items:center;
justify-content: center;
margin-top: 70px;


}


    

/* HERO.................................................... */

#hero{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-top: 70px; */
    width: 90%;
    /* height: 50px; */
    /* border: solid red 1px; */
    box-shadow: 5px 5px 20px rgba(242, 43, 166, 0.5)  ;
    background-color: var(--bg2);
    }

    .hero_info, .hero_imag{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        /* border: solid red 1px; */
    }

    .hero_info{
        /* width: 60%; */
        gap: 30px;
    }
    .hero_info h2{
        text-align: center;
    }
    .hero_info_text, .hero_info_btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
       
    }
    .hero_info_text p{

        width: 50%;
    }
    
    .hero_info_btn{
        justify-content: space-between;
        width: 80%;
     }
    

    .hero_info_btn a , .hero_info_btn button {
        width: 80px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid var(--bg3);
        background-color: var(--bg1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    

    
    .hero_imag_type{
        width: 90%;
        /* height: 160px; */

    }

    .separador{
        width: 100%;
        height: 5px;
        /* border: 1px solid var(--bg3); */
        background-color: var(--bg1);
        box-shadow: 5px 5px 20px rgba(242, 43, 166, 0.5)  ;
    }

/* ABAUD................................................ */

#aboud{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    /* height: 50px; */
    box-shadow: 5px 5px 20px var(--bgn3); 
    background-color: var(--bgn1);
    
}

    .aboud_imag, .aboud_imag_text, .aboud_info, .aboud_info_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
    .aboud_info{
        gap: 50px;
        }

    .aboud_info_text h2{
        text-align: center;
        }
           
    .aboud_info_list ul li{
        list-style-type: circle;

    }
    

    .aboud_imag_cell{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        /* width: 90%; */
        /* height: 50px; */
        border: solid var(--bgn3) 1px;
        background-color: var(--bgn2);
    }
        
    .aboud_imag_type{
        width: 50%;
    }


    /* CARD................................................ */

#card{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    /* height: 50px; */
    /* border: solid red 1px; */
    background-color: var(--bg2);
    box-shadow: 5px 5px 20px rgba(242, 43, 166, 0.5)  ;
    gap: 30px;
    padding: 10px 0px;
}

    .card_container{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        border: solid red 1px;
        min-width: 200px;
        width: 20%;
        height: 300px;
        border-radius: 25%;
        background-color: var(--bg1);
    }

    .card_info  {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* gap: 50px; */
        /* border: solid red 1px; */
        width: 80%;
    }  

   .card_container img{
    width: 50%;
    border-radius: 50%;
   }

   .card_container h3{
    text-align: center;
    max-width: 70%;
   }

   .card_info button, .card_info a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(177, 223, 121);
    display: flex;
    align-items: center;
    justify-content: center;

   }

   .card_info p span{
    font-size: 0.75rem;


   }


/* CONTACTO................................. */

#contacto{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    /* border: solid red 1px; */
    background-color: var(--bgn1);
    box-shadow: 5px 5px 20px var(--bgn3); 
    gap: 10px;
    padding: 0;
}
    
.form_info{
    width: 70%;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
}

.form_info a{
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: var(--bgn2);
border: 1px var(--bgn3) solid;
border-radius: 5px;
}

.form_img{
    width: 30%;
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    width: 90%;

}

.contacto_logo{
width: 90%;


}

.form_item input{
width: 50%;
height: 20px;
min-width: 200px;
background-color: var(--bgn2);

}

.text input{
    width: 50%;
    height: 6rem;
    
    }

.form_item label{
    /* width: 115px; */
    height: 20px;
    min-width: 60px;
    
    }



/* FOOTER ............................................*/



.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 70px;
    /* border: 1px solid red; */
    background-image: url(./img/1841-color-pastel.jpg);
    margin-bottom: 0px;
    box-shadow: -1px -5px 20px rgb(236, 147, 252)  ;
    padding: 0 5px;
    width: 100%;


}



    .footer_icon, .footer_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        /* width: 20%; */
        /* border: 1px solid red; */
    }
    .footer_cont {
        
        text-align: center;
    }

    .footer_logo{
        height: 70px;
        justify-content: center;
    }
.data{
width: 50%;
flex-wrap: wrap;
justify-content: center;

}

.media{
        width: 30%;
}


.main_r{

    height: 75vh;
}

.section_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}

.form_registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    text-align: left;
}






/* estilos responsive

   Extra Small     Small       Medium    Large     X-Large     XX-Large 
425 < 576px         >= 576px    >= 768px  >= 992px  >= 1200px   >= 1400px */

@media(max-width:576px){

    .lista{
        background-color: var(--bgn1);
        width: 90%;
        height: calc(100vh - 70px);
        position: absolute;
        top: 70px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display:  none;

    }
    .navbar i{
        display: block;
    }
    #menu-bars:checked ~ .lista {
        display: flex;
    }

    .hero_imag{
        display: none;
    }



}

@media(max-width:576px){

    #aboud{
        flex-wrap: wrap;
    }
    
    .form_img {
        display: none;

    }

    .aboud_info_list{
width: 90%;

    }
    .data{
       gap:2px;
        
        }
  .footer_icon{
    gap:5px;
  }
}

